<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="true" version="3.1">
  <servlet>
    <servlet-name>servletDemo2</servlet-name>
    <servlet-class>day_27.FirstWebJava.ServletDemo2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>simple</servlet-name>
    <servlet-class>day_27.FirstWebJava.Simple</servlet-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>servletDemo</servlet-name>
    <servlet-class>day_27.FirstWebJava.ServletDemo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servletDemo3</servlet-name>
    <servlet-class>day_27.FirstWebJava.ServletDemo3</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servletConfigDemo</servlet-name>
    <servlet-class>day_27.FirstWebJava.ServletConfigDemo</servlet-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>GBK</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>servletContextDemo</servlet-name>
    <servlet-class>day_27.FirstWebJava.ServletContextDemo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servletContextDemo1</servlet-name>
    <servlet-class>day_27.FirstWebJava.ServletContextDemo1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletContextRealPath</servlet-name>
    <servlet-class>ServletJava.ServletContextRealPath</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>ServletJava.HelloWorld</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletContextDemo</servlet-name>
    <servlet-class>ServletJava.ServletContextDemo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletContextDemo1</servlet-name>
    <servlet-class>ServletJava.ServletContextDemo1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HttpSessionDemo</servlet-name>
    <servlet-class>ServletJava.HttpSessionDemo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HttpSerltyResponse</servlet-name>
    <servlet-class>HttpServletRequestResponse.HttpSerltyResponse</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HttpServletResponse1</servlet-name>
    <servlet-class>HttpServletRequestResponse.HttpServletResponse1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HttpServletResponseDemo2</servlet-name>
    <servlet-class>HttpServletRequestResponse.HttpServletResponseDemo2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HttpServletRefresh</servlet-name>
    <servlet-class>HttpServletRequestResponse.HttpServletRefresh</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HttpServletRefresh2</servlet-name>
    <servlet-class>HttpServletRequestResponse.HttpServletRefresh2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HttpServletRedirect</servlet-name>
    <servlet-class>HttpServletRequestResponse.HttpServletRedirect</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HttpServletRedirect2</servlet-name>
    <servlet-class>HttpServletRequestResponse.HttpServletRedirect2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HttpServletRequestHeader</servlet-name>
    <servlet-class>HttpServletRequest.HttpServletRequestHeader</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HttpServletRequestForm</servlet-name>
    <servlet-class>HttpServletRequest.HttpServletRequestForm</servlet-class>
  </servlet>




  <context-param>
    <param-name>encoding</param-name>
    <param-value>utf-8</param-value>
  </context-param>
  <context-param>
    <param-name>name</param-name>
    <param-value>999</param-value>
  </context-param>
  <servlet-mapping>
    <servlet-name>servletDemo</servlet-name>
    <url-pattern>/demo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>simple</servlet-name>
    <url-pattern>/FirstWebJava/Simple</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servletDemo2</servlet-name>
    <url-pattern>/demo2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servletDemo3</servlet-name>
    <url-pattern>/servlet/ServletDemo3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servletDemo3</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servletConfigDemo</servlet-name>
    <url-pattern>/servlet/ServletConfigDemo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servletContextDemo</servlet-name>
    <url-pattern>/servlet/ServletContextDemo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servletContextDemo1</servlet-name>
    <url-pattern>/ServletContextDemo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletContextRealPath</servlet-name>
    <url-pattern>/servlet/ServletContextRealPath</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/servlet/HelloWorld</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletContextDemo</servlet-name>
    <url-pattern>/Demo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletContextDemo1</servlet-name>
    <url-pattern>/Demo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HttpSessionDemo</servlet-name>
    <url-pattern>/servlet/HttpSessionDemo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HttpSerltyResponse</servlet-name>
    <url-pattern>/response</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HttpServletResponse1</servlet-name>
    <url-pattern>/response1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HttpServletResponseDemo2</servlet-name>
    <url-pattern>/responseDemo2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HttpServletRefresh</servlet-name>
    <url-pattern>/refresh</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HttpServletRefresh2</servlet-name>
    <url-pattern>/refresh2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HttpServletRedirect</servlet-name>
    <url-pattern>/redirect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HttpServletRedirect2</servlet-name>
    <url-pattern>/redirect2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HttpServletRequestHeader</servlet-name>
    <url-pattern>/request</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HttpServletRequestForm</servlet-name>
    <url-pattern>/form</url-pattern>
  </servlet-mapping>
</web-app>